html,
body {
    height: 100%;
    background: #f1f1f1;
    color: #333333 !important;
}

.main-block {
  background: #FFFFFF;
  border: 1px solid #FFFFF7;
  box-shadow: 3px 5px 6px #e8e8e8;
  margin-bottom: 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    color: #344146 !important;
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ==================================== VIEBOOK CSS ========================================= */

.review {
    border: 1px solid black;
    width: 700px;
    padding: 5px 15px;
    margin-bottom: 10px;
}


.search_input {
    margin: 0 auto;
    margin-left: 13%;
}

.viebutton {
    background: #E64354;
    color: white !important;
    float: left;
}

a.write-review {
  background: linear-gradient(-50deg, #E64354, #66A6D2);
  border: 0;
  /*background: #66A6D2;*/
  color: white !important;
  transition: background 0.8s ease-out;
}

a.write-review:hover {
  background: linear-gradient(-50deg, #66A6D2, #E64354);
  /*background: #E64354 !important;*/
  color: white !important;
  background-position: -96px;
}

.books_searched {
    width: 100%;
    padding: 5px;
}

.books_searched .book {
    margin-bottom: 20px;
    border-right: 1px solid #dedede;
    text-align: center;
    min-height: 500px;
}

@media only screen and (max-width: 768px) {
    .search_input {
        width: 100%;
        margin-left: 5%;
    }
}

@media(max-width: 1100px) {
    .books_searched .book .image {
        width: 200px !important;
        height: 260px !important;
    }

    .books_searched .author {
      margin-bottom: 5px;
    }
}

.books_searched .name {
    text-align: center;
}

.books_searched .image {
    margin: 0 auto;
    text-align: center;
    width: 238px;
    height: 380px;
    margin-bottom: 10px;
}

.books_searched .author {
    color: #444 !important;
    background-color: rgba(246, 246, 246, .5);
    padding: 7px;
    text-align: center;
}

.books_searched .author a:link {
  color: #444 !important;
}

.books_searched .author a:visited {
  color: #444 !important;
}

.book_page .author {
    color: #444 !important;
    background-color: rgba(246, 246, 246, .5);
    padding: 7px;
    text-align: center;
}

.book_page .author a:link {
  color: #444 !important;
}

.book_page .author a:visited {
  color: #444 !important;
}

.books_searched .book .read_reviews {
    margin-top: 10px;
    text-align: center;
}

.books_searched .book:last-child {
    margin-bottom: 0;
    border: 0;
}

.book_reviews {

}

.book_reviews .single_review {
    margin-bottom: 60px;
}

.book_reviews .single_review:last-child {
    margin-bottom: 0px;
}

.status_line {
    border-bottom: 1px solid #444;
    padding-bottom: 2px;
    margin-bottom: 5px;
    text-align: right;
}

.book_reviews .review_text {
    width: 90%;
    margin: 0 auto;
    font-size: 2.1vh;
}

.review_page .estimate .like {
  color: #E64354;
  font-size: 20px;
  margin-right: 10px;
}

.like-count{
  color: gray;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.review_page .estimate .dislike {
  color: #444444;
  font-size: 20px;
}

.dislike-count {
  color: gray;
  font-size: 20px;
  margin-left: 10px;
}

.ty_for_estimate {
    display: none;
    border: 1px solid #e8e8e8;
    background: rgba(230, 67, 84, 0.9);
    color: white;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review_text {
    cursor: pointer;
}

.book_page {
    position: relative;
    /*width: 30%;*/
    /*border: 1px solid #f0f0f0;*/
    background: white;
    padding: 15px 5px;
}

@media only screen and (max-width: 1100px) {
    .book_page {
        position: relative;
        width: 100%;
    }
}

.user_account_image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /*transition: transform 0.5s;*/
}
/*
.user_account_image:hover {
  cursor: pointer;
  border: 2px solid #E64354;
  transform: scale(1.1);
}*/

.user_menu {
    list-style-type: none;
    margin-top: 20px;
    /*border: 1px solid #dedede;*/
}

.user_menu li {
    padding: 9px 10px;
    display: block;
}

.book_in_list {
    height: 210px;
    padding: 5px 0;
    float: left;
}

.clear_after_block {
  clear: both;
}

.book_in_list .image {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 25px;
}

.author_in_list {
    padding: 5px 0;
    display: block;
    text-align: center;
}

.author_in_list .author_image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.daily_image {
    width: 200px;
    float: left;
    height: 200px;
}

@media /*only screen and*/ (max-width: 1100px) {
    .daily_image {
        float: none;
        width: 100%;
        height: 300px;
    }

    .estimate {
      max-width: 120px;
      margin: 0 auto;
    }
}

@media /*only screen and*/ (max-width: 768px) {
    .daily_image {
        float: none;
        display: block;
        width: 100%;
        height: 200px;
        padding-bottom: 10px;
    }
}

.daily_book {
    padding: 10px;
    border: 1px solid #F2F8EA;
    box-shadow: -3px 4px 6px #f6f6f6;
    margin-bottom: 20px;
}

.site-signup {
    margin: 0 auto;
}

.site-login {
    margin: 0 auto;
}

.user_info {
    position: relative;
}

@media (max-width: 1100px) {
    .user_info {
        position: relative;
    }
}

.mobile-footer {
    display: none;
}

@media (max-width: 1100px) {
    .footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
}

/* Navbar custom */

.navbar-inverse {
  background-color: #FFFFFF;  
  border-bottom: 1px solid #e8e8e8;
}
.navbar-inverse .navbar-brand {
  color: #344146;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #344146;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #344146;
}
.navbar-inverse .navbar-nav > li > a {
  color: #344146;
  padding-top: 15px;
  /*margin-bottom: 0px;*/
  /*padding-bottom: 0px;*/
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #344146;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #344146;
  background-color: #FFFFF7;
  border-top: 5px solid #E74C3C;
  padding-top: 10px;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #d2d2d2;
  margin-top: 9px;

}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #444;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFFFF7;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #344146;
}

.user_list_avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
    display: block;
}

@media (max-width: 1100px) {
    .user_list_avatar {
    height: 150px !important;
    width: 150px !important;

    }
}

li.display_on_mobile_book_block {
  display: none;
}

@media (max-width: 767px) {

  .review_display_book_block {
    display: none;
  }

  li.display_on_mobile_book_block {
    display: inline;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #E74C3C;
    border: 0;
  }

  .user_list_avatar {
    height: 150px !important;
    width: 150px !important;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #FFFFF7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #FFFFF7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #344146;
}
.navbar-inverse .navbar-link:hover {
  color: #344146;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: black;
}

.wrap > .container {
    padding: 10px 15px 20px !important;
}

.estimate_opacity {
  opacity: 0.5;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.estimate_rotate {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  border-radius: 100px;
  padding: 5px;
}


/* Test pinterest-like grid */

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 3px 2px 5px rgb(254, 254, 254);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  color: #444;
  background: -webkit-linear-gradient(-183deg, #F6F6F6, #FDFDFD);
  opacity: 1;
  
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 768px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media /*only screen and*/ (min-width: 1100px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}

#columns:hover .pin:not(:hover) {
  opacity: 0.4;
}

#columns .pin:hover {
  box-shadow: -3px -3px 5px #f6f6f6;
  margin: 2px;
}

.promo-text {
  width: 70%;
  color: white;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6em;
}

@media(max-width:767px) {
  .let_email .email {
    width: 100%;
  }
  .let_email .submit {
    margin-top: 5px;
    width: 100%;
  }

  .promo-text {
    width: 98%;
  }
}

.close-promo {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.close-promo .sure {
  cursor: pointer;
}

.promo {
  display: none;
}

@media(max-width: 900px) {
  .about-logo {
    display: none;
  }
}

.user_logout {
   border-radius: 100px;
   background: #dedede;
   width: 40px;
   line-height: 40px; 
   text-align: center;
   font-size: 17px;
   float: right;
   margin-right: 35px;
   margin-top: -50px;
   cursor: pointer;
}

.about-user {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 10px 30px;
  font-size: 17px; 
  line-height: 1.2em;
  color: #444;
}

.signup-for-estimate {
  display: none;
}