html,
body {
    height: 100%;
    background: #FFFFF7;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    color: white !important;
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ==================================== VIEBOOK CSS ========================================= */

.review {
    border: 1px solid black;
    width: 700px;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.search_input {
    width: 80%;
    margin: 0 auto;
}

.books_searched {
    width: 100%;
    /*padding: 5px;*/
}

.books_searched .book {
    margin-bottom: 20px;
    border-right: 1px solid #dedede;
    text-align: center;
    min-height: 500px;
}

@media only screen and (max-width: 768px) {
    .search_input {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .books_searched .book .image {
        width: 200px !important;
        height: 260px !important;
    }
}

.books_searched .book .name {
    margin-top: 5px;
    text-align: center;
}

.books_searched .book .image {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 315px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.books_searched .book .read_reviews {
    margin-top: 10px;
    text-align: center;
}

.books_searched .book:last-child {
    margin-bottom: 0;
    border: 0;
}

.book_reviews {

}

.book_reviews .single_review {
    margin-bottom: 60px;
}

.book_reviews .single_review:last-child {
    margin-bottom: 0px;
}

.status_line {
    border-bottom: 1px solid #444;
    padding-bottom: 2px;
    margin-bottom: 5px;
    text-align: right;
}

.book_reviews .review_text {
    width: 90%;
    margin: 0 auto;
    font-size: 2.1vh;
}

.review_page .estimate .like {
color: green; font-size: 25px; margin-right: 10px; cursor: pointer;
}

.review_page .estimate .dislike {
color: red; font-size: 25px; margin-left: 10px; cursor: pointer;
}

.ty_for_estimate {
    display: none;
}

.review_text {
    cursor: pointer;
}

.book_page {
    position: fixed;
    width: 30%;
    border: 1px solid #f0f0f0;
    background: white;
    padding: 15px 5px;
}

@media only screen and (max-width: 1100px) {
    .book_page {
        position: relative;
        width: 100%;
    }
}

.user_account_image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /*border: 5px solid #E74C3C;*/
}

.user_menu {
    list-style-type: none;
    margin-top: 20px;
    border: 1px solid #dedede;
}

.user_menu li {
    padding: 7px 10px;
    display: block;
}

.book_in_list {
    min-height: 210px;
    padding: 5px 0;
    display: inline;
}

.book_in_list .image {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 25px;
}

.author_in_list {
    padding: 5px 0;
    display: block;
    text-align: center;
}

.author_in_list .author_image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.daily_image {
    width: 200px;
    float: right;
    height: 250px;
}

@media only screen and (max-width: 1100px) {
    .daily_image {
        float: left;
    }
}

@media only screen and (max-width: 768px) {
    .daily_image {
        float: none;
        display: block;
        width: 200px;
        margin: 0 auto;
    }
}

.daily_book {
    padding: 10px;
    border: 1px solid #dedede;
}

.site-signup {
    margin: 0 auto;
}

.user_info {
    position: fixed;
}

@media (max-width: 1100px) {
    .user_info {
        position: relative;
    }
}

.mobile-footer {
    display: none;
}

@media (max-width: 1100px) {
    .footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
}
