html,
body {
    height: 100%;
    background: #fafafa;
    color: #444 !important;
}

.main-block {
  background: #FFFFFF;
  border: 1px solid #FFFFF7;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);
  margin-bottom: 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    color: #344146 !important;
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ==================================== VIEBOOK CSS ========================================= */

.review {
    border: 1px solid black;
    width: 700px;
    padding: 5px 15px;
    margin-bottom: 10px;
}


.search_input {
    margin: 0 auto;
    margin-left: 13%;
}

.viebutton {
    background: none;
    color: white !important;
    float: left;
}

a.write-review {
  background: linear-gradient(-50deg, #E64354, #66A6D2);
  border: 0;
  color: white !important;
  transition: background 0.8s ease-out;
}

.books_searched {
    width: 100%;
    padding: 5px;
}

.books_searched .book {
    margin-bottom: 20px;
    border-right: 1px solid #dedede;
    text-align: center;
    min-height: 500px;
}

@media only screen and (max-width: 768px) {
    .search_input {
        width: 100%;
        margin-left: 5%;
    }
}

@media(max-width: 1100px) {
    .books_searched .book .image {
        width: 200px !important;
        height: 260px !important;
    }

    .books_searched .author {
      margin-bottom: 5px;
    }
}

.books_searched .name {
    text-align: center;
}

.books_searched .image {
    margin: 0 auto;
    text-align: center;
    width: 238px;
    height: 310px;
    margin-bottom: 10px;
}

.books_searched .author {
    color: #444 !important;
    background-color: rgba(246, 246, 246, .5);
    padding: 7px;
    text-align: center;
}

.books_searched .author a:link {
  color: #444 !important;
}

.books_searched .author a:visited {
  color: #444 !important;
}

.book_page .author {
    color: #444 !important;
    background-color: rgba(246, 246, 246, .5);
    padding: 7px;
    text-align: center;
}

.book_page .author a:link {
  color: #444 !important;
}

.book_page .author a:visited {
  color: #444 !important;
}

.books_searched .book .read_reviews {
    margin-top: 10px;
    text-align: center;
}

.books_searched .book:last-child {
    margin-bottom: 0;
    border: 0;
}

.book_reviews {

}

.book_reviews .single_review {
    margin-bottom: 25px;
}

.book_reviews .single_review:last-child {
    margin-bottom: 0px;
}

.status_line {
    border-bottom: 1px solid #dedede;
    padding-bottom: 2px;
    margin-bottom: 5px;
    text-align: center;
}

.book_reviews .review_short_text {
    width: 90%;
    margin: 0 auto;
    font-size: medium;
}

.review_text {
  background: white;
  padding-top: 10px;
}

.review_page .estimate-mobile .like {
  color: #E64354;
  font-size: 20px;
  margin-right: 10px;
}

.review_page .estimate-mobile .pushpin {
  color: orange;
  border-radius: 100px;
  border: 1px solid orange;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.estimate-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ececec;
  border-top: 1px solid #dedede;
  text-align: center;
  padding: 5px;
  display: none;
}

.like-count{
  color: gray;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.review_page .estimate-mobile .dislike {
  color: #444444;
  font-size: 20px;
}

.dislike-count {
  color: gray;
  font-size: 20px;
  margin-left: 10px;
}

.ty_for_estimate {
    display: none;
    border: 1px solid #e8e8e8;
    background: rgba(230, 67, 84, 0.9);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.review_short_text {
    cursor: pointer;
}

.book_page {
    position: relative;
    /*width: 30%;*/
    /*border: 1px solid #f0f0f0;*/
    background: white;
    padding: 15px 0px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .book_page {
        display: none;
    }
}

.user_account_image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /*transition: transform 0.5s;*/
}
/*
.user_account_image:hover {
  cursor: pointer;
  border: 2px solid #E64354;
  transform: scale(1.1);
}*/

.user_menu {
    list-style-type: none;
    margin-top: 20px;
    /*border: 1px solid #dedede;*/
}

.user_menu li {
    padding: 9px 10px;
    display: block;
}

.book_in_list {
    height: 210px;
    padding: 5px 0;
    float: left;
}

.clear_after_block {
  clear: both;
}

.book_in_list .image {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 25px;
}

.author_in_list {
    padding: 5px 0;
    display: block;
    text-align: center;
}

.author_in_list .author_image {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.daily_image {
    width: 200px;
    float: left;
    height: 200px;
}

.pin .daily_image {
  width: 250px;
  float: left;
  height: 300px;
  margin-right: 10px;
  border-radius: 5px 0 0 0;
}

.tags {
  float: right;
  background: #ececec;
  width: 100%;
  padding: 10px;
}

@media /*only screen and*/ (max-width: 1100px) {
    .daily_image {
        float: none;
        width: 100%;
        height: 300px;
    }

}

@media /*only screen and*/ (max-width: 768px) {
    .daily_image {
        float: none;
        display: block;
        width: 100%;
        height: 200px;
        padding-bottom: 10px;
    }
}

.daily_book {
    padding: 10px;
    border: 1px solid #F2F8EA;
    box-shadow: -3px 4px 6px #f6f6f6;
    margin-bottom: 20px;
}

.site-signup {
    margin: 0 auto;
}

.site-login {
    margin: 0 auto;
}

.user_info {
    position: relative;
}

@media (max-width: 1100px) {
    .user_info {
        position: relative;
    }
}

.mobile-footer {
    display: none;
}

@media (max-width: 1100px) {
    .footer {
        display: none;
    }
    .mobile-footer {
        display: block;
    }
}

/* Navbar custom */

.navbar-inverse {
  background-color: #f7f7f7;  
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border: none !important;
}
.navbar-inverse .navbar-brand {
  color: #344146;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #344146;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #344146;
}
.navbar-inverse .navbar-nav > li > a {
  color: #344146;
  padding-top: 15px;
  /*margin-bottom: 0px;*/
  /*padding-bottom: 0px;*/
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #344146;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #344146;
  background-color: #FFFFF7;
  border-top: 5px solid #E74C3C;
  padding-top: 10px;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #d2d2d2;
  border: 0 !important;
  margin-top: 9px;

}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: white;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #db4e63;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFFFF7;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #344146;
}

.navbar-right {
 margin-right: 15px; 
}

.user_list_avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
    display: block;
}

@media (max-width: 1100px) {
    .user_list_avatar {
    height: 150px !important;
    width: 150px !important;

    }
}

li.display_on_mobile_book_block {
  display: none;
}

@media (max-width: 991px) {
  li.display_on_mobile_book_block {
    display: inline;
  }
}

@media (max-width: 767px) {

  .review_display_book_block {
    display: none;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #E74C3C;
    border: 0;
  }

  .user_list_avatar {
    height: 150px !important;
    width: 150px !important;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #FFFFF7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #FFFFF7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #344146;
}
.navbar-inverse .navbar-link:hover {
  color: #344146;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: black;
}

.wrap > .container {
    padding: 10px 15px 20px !important;
}

.estimate_opacity {
  opacity: 0.5;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.estimate_rotate {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  border-radius: 100px;
  padding: 5px;
}


/* Test pinterest-like grid */

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  position: relative;
  display: inline-block;
  background: white;

  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  color: #444;
  opacity: 1;
  
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media /*only screen and*/ (min-width: 1100px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}

#columns .pin:hover {
  /*box-shadow: 2px 5px 4px 1px #ccc;*/

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
}

.promo-text {
  width: 70%;
  color: white;
  padding-top: 5px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6em;
}

@media(max-width: 768px) {
  .let_email .email {
    width: 100%;
  }
  .let_email .submit {
    margin-top: 5px;
    width: 100%;
  }

  .promo-text {
    width: 98%;
  }

}

.close-promo {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.close-promo .sure {
  cursor: pointer;
}

.promo {
  display: none;
}

@media(max-width: 900px) {
  .about-logo {
    display: none;
  }
}

.user_logout {
   border-radius: 100px;
   background: #dedede;
   width: 40px;
   line-height: 40px; 
   text-align: center;
   font-size: 17px;
   float: right;
   margin-right: 35px;
   margin-top: -50px;
   cursor: pointer;
}

.about-user {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 10px 30px;
  font-size: 17px; 
  line-height: 1.2em;
  color: #444;
}

.signup-for-estimate {
  display: none;
}

.edit-review_block {
  padding: 10px;
}

@media (max-width: 991px) {
 .edit-review_book {
    display: none;

  }

  .pin .daily_image {
    border-radius: 5px 5px 0 0;
  }

  .top-arrow {
    display: none !important;
  }

  .edit-review_mobile-book {
    display: block !important;
  }
}

.edit-review_book {

}

.edit-review_mobile-book {
  display: none;
}

.promo-block {
  right: 10px;
  width: 430px;
  height: calc(100% - 40px);
  display: none;
  position: fixed;
  top: 20px;
  /*background: rgba(120, 169, 214, 0.5);*/
  background-image: url(/images/promo-bg8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; 
  color: white;
  background-color: #444;
  z-index: 100;
  background-blend-mode: multiply;
}

.free-space {
  width: 100%;
  height: 60px;
}

.social-button-item li {
  margin-bottom: 10px;
}

.top-arrow {
  position: fixed;
  left: 40px;
  border: 1px solid #d1d1d1;
  width: 40px;
  height: 40px;
  border-radius: 90px;
  padding: 10px;
  display: none;
}

.top-arrow:hover {
  background: #444;
  color: #f6f6f6;
  cursor: pointer;
  border: 1px solid #444;
  box-shadow: 0 0 3px 3px #555;
}

.go-read {
  background: #E64354;
  width: calc(100% + 20px);
  padding: 10px 20px 10px 0px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  text-align: right;
}

.go-read-label {
  color: white;
}

.go-read-label:hover {
  text-decoration: none;
  color: white;
}

.read-button {
  background: #E64354;
  padding: 10px;
}

.follow_topic {
  border: 1px solid #66A6D2;
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  background: #fafafa;
  color: #66A6D2;
}

.unfollow_topic {
  border: 1px solid #E64354;
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  background: #fafafa;
  color: #E64354;
}

.write_review_button {
  display: none;
}

.book-block-tag {
  display: inline-block;
  float: left;
  margin-top: 5px;
  border: 1px solid #66A6D2;
  padding: 5px;
  margin-right: 5px;
}

.book-block-tag:hover {
  text-decoration: none;
  background: #66A6D2;
  color: white;
}

.book-block-tag:active {
  text-decoration: none;
  background: #66A6D2;
  color: white;
}

.template {
  background: url(/images/template.png) no-repeat;
  width: 100%;
  height: 300px;
  background-position: center center;
}

.user-account-content {
  padding: 0px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .user-account-content {
    padding-right: 0px;
  }
}

.pinned {
  border: 1px solid #d2d2d2;
  width: 100%;
  min-height: 220px;
  background: #f6f6f6;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.right-block {
  margin-left: 205px;
}

.review-title {

}

.orange-line {
  width: 30%;
  height: 4px;
  /*background: orange;*/
  background: rgba(230, 67, 84, 0.5);
  margin-bottom: 15px;
}

.book-name {
  margin-bottom: 8px;
  color: gray;
}

.preview {
  display: block;
}

.book-list {
    width: 100%;
    margin: 0 auto;
    min-height: 300px;
    background: #f7f7f7;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);
    color: #444;
    margin-bottom: 15px;
    background: white;
}

.book-list:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
}

.book-list .image {
    width: 100%;
    height: 280px;
}

.short-info {
    padding: 7px 0px;
}

.book-list .view {
    width: 100%;
    line-height: 30px;
    border-top: 1px solid #ececec;

    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.dark-link {
  color: #444 !important;
}

.navbar-brand
{
    position: absolute !important;
    /*width: 100% !important;*/
    left: calc(50% - 100px) !important;
    text-align: center !important;
    margin: 0 auto !important;
}

.search-input-block {
  padding-top: 15px;
  display: none;
  background: rgba(230, 67, 84, 0.8);
  margin-top: -35px;
  
  /*Test*/
  position: fixed;
  z-index: 8888;
  padding-top: 60px;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

}

.search-input-block * {
  z-index: 9999;
}

.search-content {
  display: none;
}

.ty_for_opinion {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  z-index: 2;
  text-align: center;
  background: #444;
  color: white;
  display: none;
}

.opinion {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #444;
  z-index: 2;
  padding-top: 9px;
  color: white;
  text-align: center;
}

@media (max-width: 992px) { 

  .pin .daily_image {
    width: 100%;
    margin-bottom: 10px;
  }

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.signup a {
    border: 2px solid #78a9d6 !important;
    padding: 0 !important;
    margin-top: 6px !important;
    padding: 8px 14px !important;
    border-radius: 5px !important;
    color: #78a9d6 !important;
}

.signup a:hover {
  background: #78a9d6 !important;
  color: white !important;
}

.shadow {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);
}

/*

Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }

---

Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) { ... }

---

Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... }

*/